<!DOCTYPE html>
<br>
<center>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>EAT-THIS-BURGER</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		<div class="photo">
		<img src="assets/img/burger.PNG" width="400" height="300">
	</div>
	<div class="body">
		{{{ body }}}
	</div>
	</body>
	</html>
</center>
